<!-- <!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<body> -->

<p>Try to change the names.</p>

<div >
<!-- ng-app="myApp" ng-controller="myCtrl" -->

First Name: <input type="text" ng-model="data.firstName"><br>
Last Name: <input type="text" ng-model="data.lastName"><br>

<button id="submitbutton" type="submit" ng-click="verifyDetails()">Submit</button>
<br>


</div>

<!-- <script>
var app = angular.module('myApp', ["ngRoute"]);
app.controller('myCtrl', function($scope) {
	//$scocpe.originalData = {"firstName" : "John", "lastName" : "Doe"};
	
	$scope.verifyDetails = function(){
		$scope.firstName="John";
		$scope.lastName="Doe";
		$scope.data ;
		console.log($scope.data)
		if($scope.firstName===$scope.data.firstName && $scope.lastName===$scope.data.lastName)
			//templateUrl : "/home/rahul/MMM/Assignments/Git/Angularjs/Assignment2/Welcome.html"
			this.router.navigateByUrl('"/home/rahul/MMM/Assignments/Git/Angularjs/Assignment2/Welcome.html"');
		else
			alert("Please enter valid username and password"); 
	}
});
</script> -->

<!-- </body>
</html> -->